<footer>
    <div id="rodape">
        <h3>Desenvolvido por Andrei Hoffmann Ferreira </h3>
        <a id="iconeRoda" href="https://www.linkedin.com/in/advogadoandreihoffmann/" target="_blank"> <img src="/img/linkedin.gif" alt="icone Linkedin"></a>
        <a id="iconeRoda" href="https://github.com/Hoffmann-Ferreira" target="_blank"> <img src="/img/github.gif" alt="icone Git-Hub"></a>
        <p>Projeto desenvolvido com finalidade educativa, buscandos demonstrar conhecimentos em HTML, CSS, JavaScript, Express e PostgreeSQL.  </p>
        <div class="logos">
            <img src="/img/logo-HTML.png" alt="logo HTML">
            <img src="/img/logo-CSS.png" alt="logo CSS">
            <img src="/img/Express.png" alt="logo Express">
            <img src="/img/javascript.png" alt="logo javascript">
            <img src="/img/postgreesql.png" alt="logo postgreesql">
        </div>
    </div>
</footer>