<header>
    <div id="cabecalho">
        <div id="logo">
            <h1>Movie Craze</h1>
        </div>
        <nav>
            <div class="caixaNave">
                <a href="/" class="ilustracao"><img src="/img/dvd.png" alt="icone de DVD"></a>
                <p class="orientacao">PÁGINA INICIAL </p>
            </div>
            <div class="caixaNave">
                <a href="/cadastrar" class="ilustracao"><img src="/img/cadastrar.png" alt="icone de rolo de filme"></a>
                <p class="orientacao">CADASTRAR </p>
            </div>
        </nav>
    </div>
</header>