<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/CSS/style.css" rel="stylesheet" type="text/css" />
    <title>Cadastrar</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
</head>
<body>
    
    <%- include("./partials/header.ejs")  %> 
<main>
    <form id="formulario" method="post" action="/cadastrar">
        <fieldset id="cadastro">
            <legend>CADASTRAR FILME</legend>
            
            <label  for="nome">Nome: </label>
            <input type="text" name="nome">

            <label  for="sinopse">Sinopse: </label>
            <input type="text" name="sinopse">

            <label  for="genero">Gênero:</label>
            <input type="text" name="genero">

            <label  for="ano">Ano: </label>
            <input type="number" name="numero">

            <label  for="imagem">Imagem: </label>
            <input type="url" name="imagem">

            <label  for="trailer">trailer: </label>
            <input type="text" name="trailer">

            <label  for="critica">Crítica: </label>
            <input type="text" name="critica">
        </fieldset>
        <button id="botao" type="submit">Enviar</button>
    </form>

</main>

    <%- include("./partials/footer.ejs")  %> 

</body>
</html>



